<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Frank Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><a href="/">Frank Site</a></h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/store">Store</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Frank Site, Copyright &copy; 2025</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
